## Stream de Dados do Twitter com MongoDB, Pandas e Scikit Learn

## Preparando a Conexão com o Twitter

In [ ]:
# Instala o pacote tweepy
# Pacote para realizar a conexão entre Python - Twitter
# É necessário o "!" para informar ao jupyter notebook, que esse comando deverá ser executado no SO.
!pip install tweepy

In [2]:
# Importando os módulos Tweepy, Datetime e Json
from tweepy.streaming import StreamListener # Função que será responsável por ficar ouvindo os twetters
from tweepy import OAuthHandler  # Utilizado para realizar a autenticação com o twitter
from tweepy import Stream
from datetime import datetime
import json

#### TODAS AS CHAVES DEVEM SER OBTIDAS NA API DO TWITTER

In [3]:
# Adicione aqui sua Consumer Key
consumer_key = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

In [4]:
# Adicione aqui sua Consumer Secret 
consumer_secret = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

In [5]:
# Adicione aqui seu Access Token
access_token = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

In [6]:
# Adicione aqui seu Access Token Secret
access_token_secret = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

In [8]:
# Criando as chaves de autenticação
auth = OAuthHandler(consumer_key, consumer_secret)
# Realizando a autenticação com o twitter
auth.set_access_token(access_token, access_token_secret)

In [29]:
# Criando uma classe para capturar os stream de dados do Twitter e armazenar no MongoDB
# Classe MyListener está sendo herdada de StreamListener
class MyListener(StreamListener):
    def on_data(self, dados): # dados representa os tweets que estão sendo coletados pelo StreamListener. (StremListener.dados)
        tweet = json.loads(dados) # Converte os dados coletados para Json
        created_at = tweet["created_at"]
        id_str = tweet["id_str"]
        text = tweet["text"]
        obj = {"created_at":created_at,"id_str":id_str,"text":text,} # cria um dict que será inserido no mongodb
        #tweetind = col.insert_one(obj).inserted_id
        db.tweets.insert_one(obj) # Insere o registro no mongodb
        #print (obj)
        return True

In [30]:
# Criando o objeto mylistener
mylistener = MyListener()

In [31]:
# Criando o objeto mystream, informando as credencias e o que deve ser feito
mystream = Stream(auth, listener = mylistener)

## Preparando a Conexão com o MongoDB

In [12]:
# Importando do PyMongo o módulo MongoClient
from pymongo import MongoClient

In [13]:
# Criando a conexão ao MongoDB
client = MongoClient('localhost', 27017)

In [14]:
# Criando o banco de dados twitterdb
db = client.twitterdb

In [16]:
# Criando a collection "col" chamada tweets
col = db.tweets

In [17]:
# Criando uma lista de palavras chave para buscar nos Tweets
# As palavras chaves serão as palavras que deverá existir no tweet para ele ser considerado e selecionado 
keywords = ['Big Data', 'Python', 'Data Mining', 'Data Science']

## Coletando os Tweets

In [ ]:
# Iniciando o filtro e gravando os tweets no MongoDB
mystream.filter(track=keywords)

## Consultando os Dados no MongoDB

In [33]:
mystream.disconnect()

In [37]:
# Verificando um documento no collection
# col.find_one()
db.tweets.find_one()

{'_id': ObjectId('5cef2806622cf3ff48947863'),
 'created_at': 'Thu May 30 00:46:57 +0000 2019',
 'id_str': '1133897550564487168',
 'text': 'This truth really does hurt...'}

## Análise de Dados com Pandas e Scikit-Learn (pacote para ML)

In [38]:
# criando um dataset com dados retornados do MongoDB
# Para cada item iterado, retorna os fields escolhidos
dataset = [{"created_at": item["created_at"], "text": item["text"],} for item in db.tweets.find()]

In [41]:
# Importando o módulo Pandas para trabalhar com datasets em Python
import pandas as pd

In [42]:
# Criando um dataframe do pandas a partir do dataset 
df = pd.DataFrame(dataset)

In [43]:
# Imprimindo o dataframe
df

,created_at,text
0,Thu May 30 00:46:57 +0000 2019,This truth really does hurt...
1,Thu May 30 00:47:01 +0000 2019,Udemy Free Discount - JavaScript for Noobs All...
2,Thu May 30 00:47:03 +0000 2019,RT @GobKittipos: มธ เปิด ป.โท ออนไลน์มา 3 หลัก...
3,Thu May 30 00:47:05 +0000 2019,CTV News: 'Surveillance capitalism' turning ki...
4,Thu May 30 00:47:07 +0000 2019,RT @couponfree01: Udemy Free Discount - JavaSc...
5,Thu May 30 00:47:07 +0000 2019,Watching John Cleese be racist on this website...
6,Thu May 30 00:47:12 +0000 2019,RT @aggity: 71% de los bancos dicen que para a...
7,Thu May 30 00:47:16 +0000 2019,RT @FBuenAbad: TODO lo que diga el “Big Data” ...
8,Thu May 30 00:47:25 +0000 2019,RT @ScubaForDogs: the fucking Monty Python guy...
9,Thu May 30 00:47:28 +0000 2019,RT @ed_saber: Q5: To focus on a few specific a...
10,Thu May 30 00:47:35 +0000 2019,RT @eigahiho: 『モンティ・パイソン』シリーズの権利をNetflixが獲得！英国...
11,Thu May 30 00:47:36 +0000 2019,RT @artdecaderoo: 17 yr old twitter scold: pri...
12,Thu May 30 00:47:36 +0000 2019,RT @couponfree01: Udemy Free Discount - Oracle...
13,Thu May 30 00:47:36 +0000 2019,Name the five films you’ve seen the most times...
14,Thu May 30 00:47:37 +0000 2019,I enjoy the business of business and creating ...
15,Thu May 30 00:47:37 +0000 2019,RT @gvanrossum: Remember that Python 2 will re...
16,Thu May 30 00:47:41 +0000 2019,Perderán custodia mamás que impidan a papás ve...
17,Thu May 30 00:47:43 +0000 2019,RT @PETERNATHAN: I enjoy the business of busin...
18,Thu May 30 00:53:44 +0000 2019,RT @ed_saber: Q5: To focus on a few specific a...
19,Thu May 30 00:53:46 +0000 2019,"Overdue, but must appreciate..."
20,Thu May 30 00:53:47 +0000 2019,「できる 仕事がはかどるPython自動処理 全部入り。」置いてた(レビューしました)。「。...
21,Thu May 30 00:54:07 +0000 2019,I am so tired of #reporters acting like observ...
22,Thu May 30 00:54:09 +0000 2019,RT @scottbradlee: if you have a following on o...
23,Thu May 30 00:54:12 +0000 2019,RT @chideraxoxo: All of my pageant sons are so...
24,Thu May 30 00:54:17 +0000 2019,RT @rosie_col_: I did not just spend a whole s...
25,Thu May 30 00:54:20 +0000 2019,RT @chomado: 今日も #decode19 イベントにて\nC# ちゃんステッカー...
26,Thu May 30 00:54:21 +0000 2019,TensorFlow 1.14 の release candidate である 1.14.0...
27,Thu May 30 00:54:27 +0000 2019,RT @couponfree01: Udemy Free Discount - JavaSc...
28,Thu May 30 00:54:28 +0000 2019,RT @couponfree01: Udemy Free Discount - Oracle...
29,Thu May 30 00:54:28 +0000 2019,RT @GobKittipos: มธ เปิด ป.โท ออนไลน์มา 3 หลัก...
30,Thu May 30 00:54:29 +0000 2019,RT @couponfree01: Udemy Free Discount - PHP Un...
31,Thu May 30 00:54:31 +0000 2019,RT @FreebiesGlobal: [100% Discount] Free Udemy...
32,Thu May 30 00:54:33 +0000 2019,taligrade macrobacterium\n by Jared Haer\nMult...
33,Thu May 30 00:54:35 +0000 2019,RT @profcarroll: STUDY: Advertisers pay more t...
34,Thu May 30 00:54:35 +0000 2019,RT @GobKittipos: มธ เปิด ป.โท ออนไลน์มา 3 หลัก...
35,Thu May 30 00:54:38 +0000 2019,RT @ZonePhysics: King cobra bites python. Pyth...
36,Thu May 30 00:54:41 +0000 2019,It's very important to develop a Big Data Stra...
37,Thu May 30 00:54:43 +0000 2019,RT @hosteltur: La música como estrategia de di...
38,Thu May 30 00:54:44 +0000 2019,RT @sudjiwotedjo: Tak ada menang-kalah di pepe...
39,Thu May 30 00:54:45 +0000 2019,RT @stoyanoj: @ed_saber A6: I teach a technica...
40,Thu May 30 00:54:46 +0000 2019,RT @_SantosTrinidad: JOHN CLEESE: LONDRES YA N...
41,Thu May 30 00:54:47 +0000 2019,This tweet reminded me that my mobile provider...
42,Thu May 30 00:54:52 +0000 2019,RT @_SantosTrinidad: JOHN CLEESE: LONDRES YA N...
43,Thu May 30 00:54:53 +0000 2019,RT @JoeCunninghamSC: Our natural environment i...
44,Thu May 30 00:54:54 +0000 2019,Looking like a sexy ass python. I see you !! 😍😍
45,Thu May 30 00:54:54 +0000 2019,@Lavilemos python:a\nLavignia: EU QUERO MORREER

In [44]:
# Importando a função CountVectorizer do módulo Scikit Learn
# CountVectorize -> Contar quantas vezes cada palavra aparece no conjunto de dados
from sklearn.feature_extraction.text import CountVectorizer

In [45]:
# Usando o método CountVectorizer para criar uma matriz de documentos
cv = CountVectorizer()
count_matrix = cv.fit_transform(df.text)

In [46]:
# Contando o número de ocorrências das principais palavras em nosso dataset
word_count = pd.DataFrame(cv.get_feature_names(), columns=["word"])
word_count["count"] = count_matrix.sum(axis=0).tolist()[0]
word_count = word_count.sort_values("count", ascending=False).reset_index(drop=True)
word_count[:50]

            word  count
0             rt     30
1          https     27
2             co     26
3            the     14
4         python     12
5             to     11
6           data     10
7             of     10
8             on      9
9           that      8
10      discount      7
11          free      7
12           you      7
13           for      7
14         udemy      7
15            de      7
16            gt      7
17            ยน      6
18            มธ      6
19           าเร      6
20            โท      6
21           big      6
22   udemycoupon      6
23            la      6
24    javascript      6
25            in      6
26           and      5
27  couponfree01      5
28           all      5
29       science      5
30            we      5
31          with      5
32            me      4
33           see      4
34            my      4
35           can      4
36          this      4
37      business      4
38         monty      4
39           how      4
40            หล      3
41         noobs      3
42        ออนไลน      3
43           ฬาฯ      3
44           mba      3
45           ปกต      3
46        cleese      3
47            es      3
48            กส      3
49            มา      3